body {
  /* background-color: black; */
  background-color: #222;
  font-family: 'Raleway', sans-serif; }

#symbols {
  text-align: center; }

.clear-both {
  clear: both; }

#header h1 {
  padding-top: 10px;
  font-family: 'Berkshire Swash', cursive; }
  #header h1 small {
    font-family: 'Raleway', sans-serif;
    color: red;
    font-size: 0.5em;
    font-style: italic; }

#search-box {
  background-color: #054369;
  padding: 20px 0; }

#filter-box {
  background: #063a5a;
  border-bottom: 1px solid #336;
  border-top: 1px solid #336;
  padding: 10px; }
  #filter-box .filter-switch {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    padding: 6px 10px;
    margin: 10px; }

#header_nav {
  background-color: #0a2932;
  color: #5e718b;
  height: 44px;
  font-style: italic;
  font-size: 14px;
  padding-top: 16px; }

#logo {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius: 5px;
  background-color: yellow;
  font-size: 24px;
  margin-top: -10px;
  color: rgba(0, 0, 100, 0.3); }

#header {
  background-color: #064d79;
  color: white; }
  #header .ico {
    color: white;
    display: inline-block; }
  #header .title {
    font-size: 4em;
    font-weight: bold;
    line-height: 1em; }
  #header .subtitle {
    font-size: 1.7em; }

nav navbar-custom {
  background-color: #0a2932;
  color: #e6db74; }

#navbar a {
  color: white; }
#navbar a.shareit {
  color: #ddd; }
  #navbar a.shareit:hover {
    color: #bbb; }
#navbar .dropdown-menu {
  background-color: #111; }
#navbar .dropdown-menu > li > a {
  background-color: #111;
  color: #aaa;
  color: #e6db74; }
  #navbar .dropdown-menu > li > a:hover {
    background-color: #444;
    color: white; }

#navbar .navbar-right a {
  color: #f92672; }
  #navbar .navbar-right a .highlight {
    color: #e6db74; }

.input-group .form-control:last-child:first-child {
  border-radius: 20px; }

#search .form-control {
  background-color: #222;
  height: 50px;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #32829e;
  border-left: none;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3); }

#search .btn {
  margin: 20px 0;
  height: 50px;
  background-color: #222;
  border-radius: 20px 0px 00px 20px;
  border: 1px solid #32829e;
  border-right: none;
  font-size: 18px;
  font-weight: normal;
  color: lightblue;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3); }

input[placeholder], [placeholder], *[placeholder] {
  color: #abe8f7 !important; }

.form-control::-webkit-input-placeholder {
  color: #32829e;
  font-style: italic; }

.form-control:-moz-placeholder {
  color: #32829e;
  font-style: italic; }

.form-control::-moz-placeholder {
  color: #32829e;
  font-style: italic; }

.form-control:-ms-input-placeholder {
  color: #32829e;
  font-style: italic; }

h1.category {
  font-family: 'Raleway', sans-serif;
  color: #e6db74;
  font-weight: normal;
  border-bottom: 1px solid #3e3e3e; }
  h1.category counter {
    color: #f92672;
    font-family: sans-serif;
    font-weight: bold; }
  h1.category small {
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    color: red; }

h1.symbol-theme-1-h1 {
  color: black; }
  h1.symbol-theme-1-h1 small {
    color: gray; }

h1.symbol-theme-2-h1 {
  color: black; }
  h1.symbol-theme-2-h1 small {
    color: gray; }

.compact {
  border: 1px solid #380919;
  height: 80px;
  border-radius: 12px; }
  .compact:hover {
    background-color: #f92672;
    color: white;
    border: 2px solid white;
    cursor: pointer; }
    .compact:hover .chname {
      color: white; }
    .compact:hover .htmlentity {
      color: #a6e22e; }

.chname {
  margin-top: 8px;
  color: #f92672;
  font-size: 13px;
  font-weight: normal; }

.htmlentity {
  color: white;
  font-family: courier;
  font-size: 16px;
  font-weight: bold; }

#footer-menu {
  background-color: #054369;
  text-align: center;
  color: #73bdd0;
  min-height: 110px; }
  #footer-menu .btn-github {
    display: inline-block;
    text-align: center;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px; }
  #footer-menu h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
    padding: 10px 0 0;
    margin: 0 0; }
  #footer-menu .btn-share {
    min-width: 50px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px; }
    #footer-menu .btn-share i {
      font-size: 1.5em;
      color: #054369; }
    #footer-menu .btn-share:hover {
      background: #d9534f; }
      #footer-menu .btn-share:hover i {
        color: white; }

#footer {
  background-color: #064d79;
  color: white;
  min-height: 40px;
  padding: 0;
  margin: 0; }

.btn-custom {
  margin-top: 40px;
  max-width: 300px;
  width: 90%;
  height: 100px;
  border: 2px solid white;
  padding-top: 35px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #054168; }
  .btn-custom:hover {
    border: 2px solid white; }

.copyright {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.3); }
  .copyright a {
    color: rgba(255, 255, 255, 0.3); }
  .copyright :hover {
    color: white; }

#navbar a.share-text {
  color: #444; }

/* color and size buttons */
.control-button {
  float: right;
  margin: 12px 3px 3px;
  padding: 0px;
  font-size: 1.8em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 2px black;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  text-align: center; }

.btn-ico-size {
  padding-top: 0px;
  border: 1px solid #abe8f7;
  background-color: #063a5a; }
  .btn-ico-size a i {
    color: #abe8f7; }

.control-separator {
  float: right;
  width: 10px; }

.ico-color-default {
  padding-top: 0px;
  background-color: #222;
  border: 2px solid #abe8f7; }
  .ico-color-default i {
    color: #abe8f7; }

.ico-color-light {
  padding-top: 0px;
  background-color: lightgray;
  border: 2px solid darkgray; }
  .ico-color-light i {
    color: black; }

.ico-color-dark {
  padding-top: 0px;
  background-color: white;
  border: 1px solid black; }
  .ico-color-dark i {
    color: black; }

#wrap {
  min-height: calc(100vh - 295px);
  margin-bottom: -2px; }

.symbol {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  padding: 2px;
  margin: 2px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 0;
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer; }
  .symbol i, .symbol span {
    font-size: 40px;
    color: #abe8f7;
    cursor: pointer; }

.symbol-theme-1 i, .symbol-theme-1 span {
  color: #444; }

.symbol-theme-2 i, .symbol-theme-2 span {
  color: black; }

.symbol-theme-1-bg, .symbol-theme-1 {
  background: #eee; }

.symbol-theme-2-bg, .symbol-theme-2 {
  background: white; }

.symbol-lg {
  padding-top: 9px;
  width: 100px;
  height: 100px;
  font-size: 60px; }
  .symbol-lg i, .symbol-lg span {
    font-size: 60px; }

.symbol-sm {
  padding-top: 7px;
  width: 40px;
  height: 40px;
  font-size: 20px; }
  .symbol-sm i, .symbol-sm span {
    font-size: 20px; }

.wrap-symbols-theme {
  background: #eee; }

#wrap-symbols {
  padding-bottom: 20px; }

.wrap-light {
  background: lightgray;
  color: black; }

#wrap-terms-inner h1 {
  margin: 10px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: bold; }
#wrap-terms-inner h2 {
  margin: 10px -10px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  font-weight: normal;
  background: rgba(6, 77, 121, 0.15);
  padding: 10px 5px 10px 20px;
  border-radius: 20px; }
#wrap-terms-inner h3 {
  margin: 10px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: normal; }

.tooltip .tooltip-inner {
  background: rgba(5, 40, 62, 0.9);
  padding: 20px;
  width: 250px;
  border: 2px solid #0a88d5;
  color: white; }
  .tooltip .tooltip-inner h1 i {
    font-size: 3em; }

/*# sourceMappingURL=app.css.map */
